body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.wrapper {
  height: calc(96vh - 2.5rem);
}

.colour-area {
  height: 20rem;
  width: 20rem;
  border: 3px #343a40 solid;
  display: block;
  margin: auto;
}

.btn {
  border-radius: 0px;
}

.btn-block {
  width: 20rem;
  display: block;
  margin: auto;
}

.copy-btn {
  padding: 0px;
}

.form-control {
  border: 1.5px solid #343a40;
  border-radius: 0px;
}

.input-group-text {
  border-radius: 0px;
  border: none;
}

.input-group {
  width: 20rem;
  text-align: center !important;
}

#message {
  display: none;
}

.footer {
  height: 2.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer a {
  color: #f8f9fa;
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 1.4rem;
  }

  .colour-area {
    height: 15rem;
    width: 15rem;
  }

  .btn-block {
    width: 15rem;
  }

  .input-group {
    width: 15rem;
  }
}
