.wrapper {
  height: 85vh;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.colour-area {
  height: 20rem;
  width: 20rem;
  border: 3px #343a40 solid;
  display: block;
  margin: auto;
}

.btn {
  border-radius: 0px;
}

.btn-block {
  width: 20rem;
  display: block;
  margin: auto;
}

.copy-btn {
  padding: 0px;
}

.form-control {
  border: 1.5px solid #343a40;
  border-radius: 0px;
}

.input-group-text {
  border-radius: 0px;
  border: none;
}

.input-group {
  width: 20rem;
  text-align: center !important;
}

#message {
  display: none;
}

.footer {
  height: 2.5rem;
}

.footer a {
  color: #f8f9fa;
}
